
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  header {
    background: #333;
    color: #fff;
    padding: 10px 0;
  }

  .logo{
    margin-left: 20px;
  }

.smoothscroll{
    margin-left: 25px;
}
.inicio{
    margin-left: 100px;
}
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  .logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
  }

  .menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 24px;
  }

  nav {
    display: flex;
  }

  .main-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .main-navigation li {
    margin-left: 20px;
  }

  .main-navigation li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    position: relative;
  }

  .main-navigation li a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.3s;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .main-navigation li a.active::after,
  .main-navigation li a:hover::after {
    width: 100%;
  }

  /* Responsivo */
  @media (max-width: 768px) {
    .menu-toggle {
      display: block;
    }

    nav {
      display: none;
      flex-direction: column;
      width: 100%;
      background: #333;
    }

    nav.active {
      display: flex;
    }

    .main-navigation {
      flex-direction: column;
    }

    .main-navigation li {
      margin: 0;
    }

    .main-navigation li a {
      padding: 10px 20px;
    }
  }

  .btn-link {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #17a2b8; /* Cor do botão info do Bootstrap */
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }

  .btn-link:hover {
    background-color: #138496; /* Cor do botão info ao passar o mouse */
    text-decoration: none;
    color: white;
  }

  /* Estilo para a seção intro */
  #intro {

    background: url('images/background.jpg') no-repeat center center;
    background-size: cover;
    color: white;
   
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #intro .intro-content {
    max-width: 600px;
    margin: 0 auto;
  }

  /* Sombreamento no texto */
  .tituloportifolio, .titulonome,.pacifico-regular {
    text-shadow: 20px 20px 20px rgba(220,220,220);
  }

  .titulosecundario{
    margin-top: -100px;
  }

  .tituloportifolio, .titulonome,.titulosecundario{
    color: rgba(0,0,0);
    margin-top: 45px;
    font-style: italic;
  }

   /* Fonte Pacifico */
   .pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
  }

  .slide-in {
    transform: translateX(-100%);
    opacity: 0;
    animation: slideIn 2s forwards;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  @keyframes slideIn {
    to {
      transform: translateX(0);
      opacity: 1;
    }}

.desc{
    margin-top:50px ;
}

#about{
    background-color: #FFFFFF;
}

.desc{
    margin-top: 50px;
    margin-left: 50px;
}

.descnome{
    margin-top: 125px;
    margin-left: 50px;
}
.descoutros{
    margin-top: 15px;
    margin-left: 50px;
}


.imgprofile{
    margin-top: 40px; 
    margin-left: -70px;
    border-radius: 10px;
}


.linguagens{
    margin-left: 100px;
    margin-bottom: 100px;
}

.descinfo {
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 100px;
}

.infocontato{
  margin-left: 40px;
  
}
.nunito-uniqueclass {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: blue;
}
.email-link {
  color: blue;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.resume-container {
  width: 60%;
  margin: auto;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

header {
  text-align: center;
  
}

header h1 {
  margin: 0;
  font-size: 2em;
  color: #333;
}

header p {
  font-size: 1em;
  color: #666;
}

section h2 {
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #333;
}

.job {
  margin-bottom: 20px;
}

.job h3 {
  margin: 0;
  font-size: 1.2em;
  color: #333;
}

.job h4 {
  margin: 5px 0;
  font-size: 1em;
  color: #666;
}

.job ul {
  list-style-type: disc;
  margin-left: 20px;
}

.job ul li {
  margin-bottom: 5px;
  font-size: 0.9em;
  color: #333;
}
.resumo{
  margin-top: 100px;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f2f5;
}

.work-experience {
  width: 60%;
  margin: 20px auto;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

section h2 {
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
  margin: 40px 0 20px;
  font-size: 1.5em;
  color: #333;
}

section h2.resumo {
  margin-top: 0; /* Adjust margin-top for the first section */
}

.job {
  margin-bottom: 20px;
}

.job h3 {
  margin: 0;
  font-size: 1.2em;
  color: #333;
}

.job h4 {
  margin: 5px 0;
  font-size: 1em;
  color: #666;
}

.job ul {
  list-style-type: disc;
  margin-left: 20px;
}

.job ul li {
  margin-bottom: 5px;
  font-size: 0.9em;
  color: #333;
}
#resume {
  width: 60%;
  margin-top: 100px;
  margin: 30px auto;
  background: #C0C0C0 url('https://camo.githubusercontent.com/141a4d3b90093a1ead59aad6a0c388bcf946edb091133e532e7200c16234cbe5/68747470733a2f2f63646e2e77616c6c70617065727361666172692e636f6d2f38342f32322f4a7a366241732e676966') no-repeat center top;
  background-size: cover;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.edu-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-left: 50px;
}
.edu-title{
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-left: 25px;
}

.edu-icon {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.edu-icon img {
  width: 100%;
  height: 100%;
}

.edu-content h3 {
  margin: 0;
  font-size: 1.2em;
  color: #333;
}

.edu-content h4 {
  margin: 5px 0;
  font-size: 1em;
  color: #666;
}

.edu-content ul {
  list-style-type: disc;
  margin-left: 20px;
}

.edu-content ul li {
  margin-bottom: 5px;
  font-size: 0.9em;
  color: #333;
}

.skills ul {
  list-style-type: disc;
  margin-left: 70px;
}

.skills ul li {
  margin-bottom: 10px;
  font-size: 0.9em;
  color: #333;
}

.skills {
  margin-left: 50px;
}
#contact {
  background-color: #222;
  color: #fff;
  padding: 50px 0;
  text-align: center;
}

.contact-container {
  width: 80%;
  margin: 0 auto;
}

.contact-details {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.contact-item {
  width: 30%;
}

.contact-item i {
  font-size: 2em;
  color: #00aced;
}
